#calculator {
  width: 500px;
  height: 500px;
  /* border: 5px solid #444444; */
  font-family: Helvetica, sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 200px;
  font-size: 0;
}

#readout, .operator, .zero, .digit, #equals, #decimal, #clear {
  font-size: 16px;
}

#buttons > * {
  text-align: center;
  box-sizing: border-box;
  padding-top: 4%;
  height: 80px;
  font-size: 30px;
}

#currentOperator, #readout {
  height: 100px;
  background-color: rgb(41, 41, 41);
  color: white;
  box-sizing: border-box;
  display: inline-block;
}

#currentOperator {
  padding-top: 8%;
  float: left;
  width: 20%;
  border-top-left-radius: 15px;
  font-size: 25px;
  padding-left: 6%;
}

#readout {
  float: right;
  width: 80%;
  text-align: right;
  font-size: 40px;
  padding-right: 6%;
  border-top-right-radius: 15px;
  padding-top: 6%;
}

#buttons {
  clear: both;
}

.operator, .digit {
  display: inline-block;
  width: 25%;
}

.digit {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(124, 124, 124);
}

.zero {
  width: 50%;
  border-bottom-left-radius: 15px;
}

.operator, #equals {
  background-color: rgb(245, 146, 62);
  border: 1px solid rgb(124, 124, 124);
  color: white;
}

#equals {
  width: 25%;
  display: inline-block;
  border-bottom-right-radius: 15px;
}

#decimal {
  display: inline-block;
  width: 25%;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(124, 124, 124);
}

#clear {
  display: inline-block;
  width: 75%;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(124, 124, 124);
}